.contact {
    width: 400px;
}


.contact form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}

    .contact input {
      width: 100%;
      height: 35px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(182, 179, 179);

      &:focus {
        border: 2px solid rgba(59, 143, 177);
      }
    }

    .contact textarea {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      max-height: 100px;
      min-height: 100px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(182, 179, 179);

      &:focus {
        border: 2px solid rgb(59, 143, 177);
      }
    }

    .contact label {
      margin-top: 1rem;
    }

    .contact input[type="submit"] {
      margin-top: 2rem;
      cursor: pointer;
      background: rgb(249, 105, 14);
      color: white;
      border: none;
    }



    @media screen and (max-width: 1064px) {
      .contact {
        max-width: 95%;
      }

    }