.search-page {
    width: 100vw; 
    height: 100vh; 
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: none;
    
}

.search-page button:hover {
    cursor:pointer;

}

.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    /* border: 1px red solid; */


    padding: 20px;
    width: 400px;
    margin-top: 300px ;


}

#search-bar {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.search-container button {
    background-color: #f5f5f5;
    border: none;
    color: black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.search-container button:last-child {
    background-color: #f5f5f5;
    margin-left: 10px;
}

.cursor {
    position: absolute;
    height: 1.2rem;
    z-index: 100;

    transition: transform 1.5s ease-in-out; /* Adjust timing function and duration */
}
